name: Docker Image Grype scan

on:
  push:
    branches: [main]
    tags:
      - '*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  docker:
    permissions:
      contents: write # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest
    steps:
      - 
        name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      -
        name: Build
        id: docker_build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: false
          load: true
          tags: localbuild/testimage:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      -
        name: Generate SBOM and upload dependency results
        uses: anchore/sbom-action@cee1b8e05ae5b2593a75e197229729eabaa9f8ec # v0.20.2
        with:
          image: localbuild/testimage:latest
          artifact-name: "${{ github.event.repository.name }}.cyclonedx-sbom.json"
          output-file: "/tmp/${{ github.event.repository.name }}.cyclonedx-sbom.json"
          dependency-snapshot: true
          format: cyclonedx-json
          upload-artifact: true
      -
        name: Scan SBOM
        uses: anchore/scan-action@16910ac423301c6d30554b83a7f71ac6ff4a51f3 # v6.4.0
        id: scan
        with:
          add-cpes-if-none: true
          fail-build: false
          sbom: "/tmp/${{ github.event.repository.name }}.cyclonedx-sbom.json"
          output-format: sarif
      -
        name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@181d5eefc20863364f96762470ba6f862bdef56b # v3.29.2
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}